*~
*.log
*.aux
*.tar.gz
etape-A2.txt
etape-B2.pdf
etape-B2.tex
etape-C3.png
etape-C3.ps
etape-E1
etape-E1.tex
etape-E12.txt
etape_b1
etape_b1.adb
etape_d1
etape_d1.adb
etape_d2
etape_d2-1.odt
etape_d2-1.txt
etape_d2-2.txt
etape_d2-3.txt
etape_d2.adb
etaped2.odt
etaped2.pdf
etaped2.txt
jeu-de-piste.sh
sommaire-0.png
sommaire-1.png
sommaire.ps
F1
etape-G2.sh
etape-E6/
etape-C1.tex
etape-E10.txt
etape-E11-bis.txt
etape-E11.txt
etape-H5
etape-H8/etape-H8
etape-XX.sh

demo-exam-ensimag2011/

# Who produces that Berkeley DB file?
__db.
